
tbody tr:nth-child(2n+1) {
    background-color: white;
}

tbody tr:nth-child(2n) {
    background-color: grey;
}

.note > thead > tr {
  background-color: black;
  font-family: sans-serif;
  color: white;
}

tbody tr td span {
	display: none;
}

tbody .UE td span{
	display: initial;
}

.UE > * {
  background-color: skyblue;
}

.mark-0-8 {
	color : red;
}
.mark-8-10 {
	color : orange;
}
.mark-10-12 {
	color : yellow;
}
.mark-12-20 {
	color : green;
}
