
body {
	border :1px outset gray ;	
	padding-bottom: 100px;
	counter-reset: section;

}

body > *, #introduction  {
	border :1px outset #930 ;
	margin: 5px;
	position: relative;
}

#menu, #introduction {
	background-color: #fa0;
}

#introduction {
	display: inline-block;
	margin-left: 5%;
	margin-right: 5%;
	padding: 1%;
	width : 30%;
	text-align: center;
}

#introduction:after {
	content: " From Wikipedia, the free encyclopedia";
	font-size: 16px;
	display: block;
}

#introduction + p {
	display: inline-block;
	font-style: italic;
	width : 50%;
	text-align: right;
}

ul {
	margin-top: 2px;
	margin-bottom: 2px;
	/*list-style-type: square;*/
}

li {
	display: inline-block;
	margin-right: 10px;
	list-style-type: square;
	text-decoration: none;
}

li > a:before{
	content: "▪";
}

li > a {
	text-decoration: none;
	font-weight: bold;
 	color: #930;
}

.section {
	border-bottom-style: inset;
	border-bottom-color: #930;
}

.section {
	margin: 15px;
}

h2 {
	text-decoration: underline;
	list-style-type: decimal;
	margin-left: 15px;
}

h2:before {
	counter-increment: section;
    content: counter(section) ". ";
}

#conclusion {
	position: absolute;
	bottom: -35px;
	right: 10px;
}
#conclusion > p {
	background-color: #930;
	color: white;  
}

#conclusion > p:before {
	content: "(";
}

#conclusion > p:after {
	content: ")";
}

