
#header h1 {
	font-family: "Jazz LET", fantasy;
}

body {
	background-color: rgba(223, 249, 255, 0.5);
	background-image: url(http://www.panix.com/~clay/cookbook/images/hamburger02.jpg);
}

#global {
	background-color: rgba(223, 249, 255, 0.7);
}

#menu > ul >li > a:before {
	content: "~>";
	font-size: 1em;
	
}
 .liste_liens > li > a {
 	color: green;
 	
 }