
#header h1 {
	font-family: "Jazz LET", fantasy;
	color: #b1ff00;
}

body {
	background-color: rgba(223, 249, 255, 0.5);
	background-image: url(http://www.panix.com/~clay/cookbook/images/hamburger02.jpg);
	color: #DE00FF;
}

#global {
	background-color: rgba(223, 249, 255, 0.7);
}

#menu > ul >li > a:before {
	content: "~>";
	font-size: 1em;
	
}
 .liste_liens > li > a {
 	color: green;
 	
 }


#content ul.onglets li{
	color: red;
}

#path a {
    color: #ffb113;
}

#content ul.onglets li a {
    color: #0046d4;
}
