/* Style par defaut pour la page */
body {
	font-family: Verdana, serif;
	padding: 3ex 3em;
	margin: 0 auto;
	border: solid #ccc;
	border-width: 0 1px;
	display: table;
}

th, td {
	border: solid black;
	border-width: 1px 0 0 1px;
	padding: .3ex .3em;
}

table {
	border: solid black;
	border-width: 0 1px 1px 0;
}

/* -------------------------------------------------- */
/* Styles pour colorerLignes() */

.lig1 {
	background-color: #ee9;
}

.lig2 {
	background-color: #cc3;
}

/* -------------------------------------------------- */
/* Styles pour nombres() */

.nombre {
	text-align: right;
}


/* -------------------------------------------------- */
/* Styles pour les en-tetes cliquables */

thead th.cliquable {
	background-color: #ccc;
	cursor: pointer;
}
